.Navbar {
    flex: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    padding-left: -4rem;
}

.List {
    flex: auto;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    padding-left: -4rem;
    transition:ease-in 0.4s;
}

.Items {
    list-style: none;
    cursor: pointer;
}

.Title {
    font-size: 40px;
    font-weight: 400;
    color: white;
}

.Collapsed {
    align-items: center;
    display: none;
}
