.Header {
    background: linear-gradient(90deg, #4b006e 0%, #7c3aed 100%);
    font-size: 24px;
    color: white;
    width: 100%;
    padding: 1rem;
    flex: 0;
    flex-direction: row;
    align-items: center;
    display: flex;
}
