@import "tailwindcss";

@layer base {
    body {
        background-color: aliceblue;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        border-color: black;
    }

    .dark body:not(.no-dark, .no-dark *) {
        background-color: #1a3657;
        color: white;
        border-color: white;
    }
}

main {
    min-height: 100vh;
    display: flex;
    flex: auto;
    flex-direction: column;
}

.page-container {
    flex: auto;
    display: flex;
    flex-direction: column;
}
