.card {
    margin-inline: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 3rem;
    border-radius: 1rem;
    background-color: transparent;
    padding: 2rem;
    box-shadow: 0rem 0rem 2rem black;
}

.IdleHeader {
    text-align: center;
    margin-top: 0.6em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4em;
    font-weight: bold;
    background: linear-gradient(45deg, blue, indigo, blue, indigo, blue);
    background-size: 200% 100%;
    background-clip: text;
    color: transparent;
    animation: rainbowScroll 5s linear infinite;
}

@keyframes rainbowScroll {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.description {
    text-align: center;
    font-size: larger;
    font-weight: 600;
}

.button:hover {
    cursor: pointer;
    background: lightslategray;
    border-style: inset;
}

.playButton {
    display: flex;
    flex-direction: column;
    margin-left: 46%;
    margin-right: auto;
    border-radius: 1em;
    font-weight: 600;
    border-style: outset;
    background: linear-gradient(
        90deg,
        red,
        orange,
        yellow,
        green,
        blue,
        indigo,
        violet,
        red,
        orange,
        yellow,
        green,
        blue,
        indigo,
        violet
    );
    background-size: 200% 100%;
    background-clip: text;
    width: 10rem;
    font-size: 2rem;
    border-width: 0.2em;
    border-color: black;
    color: transparent;
    animation: rainbowScroll 5s linear infinite;
}

.playButton:hover {
    animation: rainbowScroll 0.5s linear infinite;
    cursor: pointer;
    border-style: inset;
}

.replayButton {
    border-color: black;
    border-width: 0.2em;
    border-radius: 2em;
    width: 15em;

}

.againButton {
    border-color: black;
    border-width: 0.2em;
    border-radius: 2em;
    width: 15em;
}

.restartButton {
    border-color: black;
    border-width: 0.2em;
    border-radius: 2em;
    width: 15em;
}

.submitButton {
    border-color: black;
    border-width: 0.2em;
    border-radius: 2em;
    width: 15em;
    margin-right: 2em;
}

.gameView {
    position: relative;
    display: flex;
    width: 1024px;
    height: 1024px;
    margin-left: 25%;
}

.roomBackground {
    z-index: 1;
}

.Chest {
    position: absolute;
    z-index: 2;
    top: 67.5%;
}

.Chest:hover {
    transform: scale(1.15) translateX(10px);
    cursor: pointer;
    
}

.book {
    position: absolute;
    z-index: 2;
    top: 85.5%;
    left: 49.8%;
}

.book:hover {
    transform: scale(1.15);
    cursor: pointer;
    
}

.Clock {
    position: absolute;
    z-index: 2;
    top: 28.5%;
}

.Clock:hover {
    transform: scale(1.15);
    cursor: pointer;
    /**transform: translateX(1px);**/
}

.Computer {
    position: absolute;
    z-index: 2;
    top: 49.8%;
    left: 42%;
}

.Computer:hover {
    transform: scale(1.15);
    cursor: pointer;
  
}
.Cube {
    position: absolute;
    z-index: 2;
    top: 60.5%;
    left: 58.5%;
}

.Cube:hover {
    transform: scale(1.15) translateX(5px);
    cursor: pointer;
    
}

.drawer {
    position: absolute;
    z-index: 2;
    top: 78.9%;
    left: 24.9%;
}

.drawer:hover {
    transform: scale(1.15);
    cursor: pointer;
   
}

.drawer2 {
    position: absolute;
    z-index: 2;
    top: 72.5%;
    left: 24%;
}

.drawer2:hover {
    transform: scale(1.15);
    cursor: pointer;
    
}

.drawer3 {
    position: absolute;
    z-index: 2;
    top: 78.5%;
    left: 59.8%;
}

.drawer3:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.solvedItem:hover{
    pointer-events: "None";
    cursor:default
}
